body {
    font-family: sans-serif;
    background-color: rgb(54, 48, 48);
    color: white;
}

h1, h2 {
    text-align: center;
}

p {
    border: 3px solid white;
    padding: 15px;
}

table, th, td {
    border-collapse: collapse;
    border-radius: 80px;
  }

a {
  text-decoration: none;
  font-size: x-large;
  color: white;
}

button {
  background-color: rgb(73, 73, 73);
}

.ul_to_Right {
  margin-left: 230px;
  padding-left: 230px;
  list-style-type: none;
}

.center{
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  padding: 10px;
}

.big_Words {
    font-size: 50px;
  }

.big_Img {
    width: 400px;
    height: 400px;
    margin: 10px;
    border: solid 10px;
    padding: 2px;
    float: left;
  }

.small_Img {
    width: 200px;
    height: 200px;
    margin: 10px;
    border: solid 10px;
    padding: 2px;
  }

.to_Right {
  float: right;
}