img {
    width: 200px;
    height: 200px;
    margin: 10px;
    border: solid 10px;
    padding: 2px;
    transform: rotate(45deg);
}

body {
    font-family: Arial;
    background-color: antiquewhite;
    text-align: center;
}

h1, h2 {
    text-align: center;
}

p {
    border: solid 2.5px;
}

table, th, td {
    border: 1px solid white;
    border-collapse: collapse;
    border-radius: 80px;
  }
  th, td {
    background-color: #96D4D4;
  }
